.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navItem {
  padding: 1rem 2rem;
}

.navItem:hover {
  background-color: rgba(182, 140, 184, 0.5);
  padding: 1rem 2rem;
}
