.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: rgba(182, 140, 184);
  z-index: 20;
  overflow: hidden;
}

.navItem {
  padding: 1rem 3rem;
  color: rgb(10, 15, 13);
}

.navItem:hover {
  background-color: rgba(182, 140, 184, 0.3);
  padding: 1rem 3.5rem;
  transition: background-color, 0.1s, ease-in, 1s;
}

.navItem:active {
  color: white;
}
